# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data files
data/
.idea/
.venv/
*.csv

# Python cache
__pycache__/

# Other files
jupyter_notebooks/

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Environment variables
.env

# Ignore everything inside rag/
rag/*

# But keep example dataset
!rag/example/
!rag/example/**

# macOS system files
.DS_Store
**/.DS_Store

# SLURM logs
slurm/logs/
